In [213]:
import pandas as pd
import numpy as np
import os

In [214]:
# cwd = os.getcwd()
# print(cwd)
# os.mkdir('file path') to make new folder
os.chdir(r'M:\Turkey\BOLs\IA000012808_AbbyyBOL\Output\11_04_2021\Final Output\SO upload files')
cwd = os.getcwd()
print(cwd)

M:\Turkey\BOLs\IA000012808_AbbyyBOL\Output\11_04_2021\Final Output\SO upload files

In [216]:
excelDF = pd.read_excel(r'M:\Turkey\BOLs\IA000012808_AbbyyBOL\Output\11_04_2021\Final Output\FinalOutput_11_04_2021_44.xlsx')
excelDF2 = excelDF.fillna('')
excelDF2.groupby(by='Sales Order Number')
excelDF2.head()

,Sales Order Number,Pallet Number,Box Number,Material number,Plant,Batch #,Stock Type,Quantity,UOM,Weight,Unit of Weight,Hold Reasons
0,14026247,,,22332,2ZRL,211012,,5,CV,266.9000,LB,
1,14026247,,,22332,2ZRL,211016,,566,CV,"29,504.6000",LB,
2,14026247,,,22332,2ZRL,211018,,390,CV,"20,749.2000",LB,
3,14026247,,,22332,2ZRL,211019,,1,CV,50.7000,LB,
4,13625172,,,80469,2ZRL,72410012012,,64,CV,"3,840.0000",LB,

In [217]:
# Create empty list to concat with dataframe
SOlist = []
# Create dataframe with column headers
df = pd.DataFrame(SOlist, columns=['Sales Order Number', 'Pallet Number', 'Box Number', 'Material Number', 'Plant', 'Batch#', 'Stock Type', 'Quantity' 'UOM', 'Weight', 'Unit of Weight', 'Hold Reasons'])

test = [e for i, e in excelDF2.groupby('Sales Order Number')]

In [221]:
# Loop through SOnums and compare SO numbers.
for e in test:
    if len(SOlist) == 0:
        SOlist.append(e) # If SOlist is empty, start process
    else:
        if e['Sales Order Number'].isin(SOlist[0]['Sales Order Number']).all(): # If SOlist is non-empty and SO is in SOlist, then we're still on same SO
            SOlist.append(e)
        else: # If SO not in SOlist and SOlist is non-empty, we've reached a new SO
            df = pd.concat(SOlist, axis=0, ignore_index=True) # If we reach a new SO, then concat with dataframe
            # Export dataframe as CSV, using template literal to generate file name
            df.to_string(index=False)
            df.to_csv(r'M:\Turkey\BOLs\IA000012808_AbbyyBOL\Output\11_04_2021\Final Output\SO upload files\{}.csv'.format(SOlist[0]['Sales Order Number'].unique()), index=False)
            SOlist = [] # Reset SOlist.
            # Reset dataframe
            df = pd.DataFrame(SOlist, columns=['Sales Order Number', 'Pallet Number', 'Box Number', 'Material Number', 'Plant', 'Batch#', 'Stock Type', 'Quantity' 'UOM', 'Weight', 'Unit of Weight', 'Hold Reasons'])